

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    background: #080808;
    color: #ffffff;
    background-image: url(images/DSC_0096.jpg);
    background-size:cover;
    background-position: center;
    background-position-y: top;
    background-attachment: fixed;
}

header {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;/*header flex between logo and nav*/
    gap: 2%;
    position: sticky;/*keep nav staionary*/
    top: 0px;
    left: 0px;
}

h1{
    margin-bottom: 500px;
}
main {
    padding: 10px 10%;
   
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    width: 140px;
    flex-basis: 20px;
    height: 50px;
    margin: 15px 20px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 15px 20px;
    flex-basis: 50%;
    height: 20px;
}
/*nav link colour*/
nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
/*nav link animation*/
nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #9856d6;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

.header-text {
    margin-top: 20%;
    font-size: 30px;
}

.header-text h1 {
    font-size: 60px;
    margin-top: 20px;
}


section {
    margin: 40px 0;
}

/* Section headers */
section h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

/* Paragraph and list styling within sections */
section p, section ul {
    font-size: 18px;
}


section ul {
    list-style: disc;
    margin-left: 20px;
}

/* project section styling */
.project {
    margin-bottom: 20px;
}

/* project titles */
.project h3 {
    font-size: 28px;
    margin-bottom: 50px;
}

/* image gallery styling */
.gallery {
    display: flex;
    gap: 10px;
    
}

/* image styling within galleries */
.gallery img {
    size-adjust: 30%;
}

/* biography section link styling */
#biography a {
    color: #9856d6;
    text-decoration: none;
    font-size: 18px;
}

#biography a:hover {
    text-decoration: underline;
}
/*contact link style*/
#contact a {
    color: #9856d6;
    text-decoration: none;
}

#contact a:hover {
    text-decoration: underline;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 5px; /* adjust gap between images */
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
}
.gallery img {
    width: calc(30%); /* adjust image width and gap */
    height: calc(30%);
}